body {
  padding: 5px;
}

#logo {
  background: url(../images/logo.png) top left no-repeat;
  float: left;
  height: 71px;
  margin: 0;
  text-indent: -99999px;
  width: 118px;
}

#menu {
  float: right;
  margin: 0;
  padding: 0;
}

#navbar {
  margin: 30px 5px;
  overflow: hidden;
}

#menu li {
  display: block;
  float: left;
  list-style: none;
  line-height: 71px;
  margin-left: 1em;
}

#menu a {
  color: #333;
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}

#menu a.active,
#menu a:hover {
  border-bottom: 1px solid #00b2ca;
}

#main {
  max-width: 1170px;
  margin: 0 auto;
}

.project {
  margin: 5px;

  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.project:hover {
  background-color: #C00;

  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
