@font-face {
  font-family: 'musketregular';
  src: url('fonts/musket_regular-webfont.eot');
  src: url('fonts/musket_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/musket_regular-webfont.woff2') format('woff2'),
       url('fonts/musket_regular-webfont.woff') format('woff'),
       url('fonts/musket_regular-webfont.ttf') format('truetype'),
       url('fonts/musket_regular-webfont.svg#musketregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'musketbold';
  src: url('fonts/musket_bold-webfont.eot');
  src: url('fonts/musket_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/musket_bold-webfont.woff2') format('woff2'),
       url('fonts/musket_bold-webfont.woff') format('woff'),
       url('fonts/musket_bold-webfont.ttf') format('truetype'),
       url('fonts/musket_bold-webfont.svg#musketbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: musketregular;
}

body {
  padding: 8px;
}

#logo {
  background: url(../images/logo.gif) top left no-repeat;
  height: 101px;
  margin: 40px auto;
  text-indent: -99999px;
  width: 601px;
}

#main {
  max-width: 1280px;
  margin: 0 auto;
}

#navbar {
  background-color: #f0cd8c;
  height: 80px;
  margin: 8px;
}

#navbar ul {
  float: right;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: block;
  float: left;
  font-size: 28px;
  height: 40px;
  list-style: none;
  line-height: 40px;
  padding: 20px 30px;
}

#navbar ul li.active {
  background-color: #bb3455;
}

#navbar ul li a {
  text-decoration: none;
  color: #d6b982;
}

.project {
  background-color: #F00;
  height: 300px;
  margin: 8px;
  padding: 8px;

  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.project:hover {
  background-color: #C00;

  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
