---
visible_projects:
  - calvin_klein_just_in_time
  - armig
  - calvin_klein_find_your_moment
  - chicca_lualdi
  - logos_and_icons
  - girl_to_girl
  - festival_di_artisti_di_strada
  - illustrations
  - serapian
  - centro_tao
  - motion_design
  - matilde
---
{% for visible_project_slug in page.visible_projects %}
  {% for project in site.projects %}
    {% assign project_url = project.url | remove:'/index.html' %}
    {% assign project_slug = project_url | remove:'/projects/' %}
    {% if project_slug == visible_project_slug %}
        <div class="pure-u-1-2 pure-u-md-1-3">
          <div class="project">
            <a href="{{ project_url }}">
              <span class="project-name">{% if project.thumb_name %}{{ project.thumb_name }}{% else %}{{ project.name }}{% if project.other_name %} & {{ project.other_name }}{% endif %}{% endif %}</span>
            </a>
            <img alt="{{ project.name }}" class="pure-img" src="{{ project_url }}/thumb.png" />
          </div>
        </div>
    {% endif %}
  {% endfor %}
{% endfor %}
