<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LiciaVale</title>
    <meta name="description" content="Annalisa Valente's portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="pure-g">
      <div id="main">

        <div class="pure-u-1">
          <div id="navbar">
            <a href="/">
              <h1 id="logo">LiciaVale</h1>
            </a>
            <ul id="menu">
              <li><a class="active" href="/">Projects</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>

{{ content }}
      </div>
    </div>
    <a href="#" class="back-to-top">Back to top!</a>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/back_to_top.js"></script>
  </body>
</html>
